@import "@/styles/mixins/form.scss";
@import "@/styles/mixins/text.scss";
@import "@/styles/theme.scss";

.main {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  background-color: $white-background;
  .wrap {
    @include form-container();
    padding: 62px 92px 80px 110px;
    display: flex;
    flex-direction: column;
    gap: 88px;

    .inputs {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
